In [37]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, precision_recall_curve

In [2]:
df = pd.read_csv('classification.csv')
df.head()

   true  pred
0     1     0
1     1     1
2     1     1
3     0     0
4     1     1

In [19]:
def class_errors(df):
    tp = df[(df['true'] ==1) & (df['pred'] ==1)].shape[0]
    fp = df[(df['true'] ==0) & (df['pred'] ==1)].shape[0]
    fn = df[(df['true'] ==1) & (df['pred'] ==0)].shape[0]
    tn = df[(df['true'] ==0) & (df['pred'] ==0)].shape[0]
    #data = {'Actual Positive':[tp, fn], 'Actual Negative':[fp, tn]}
    #index =[ 'Predicted Positive', 'Predicted Negative']
    table = pd.DataFrame({'Actual Positive':[tp, fn], 'Actual Negative':[fp, tn]}, index =[ 'Predicted Positive', 'Predicted Negative'])
    display(table)

In [20]:
class_errors(df)

                    Actual Positive  Actual Negative
Predicted Positive               43               34
Predicted Negative               59               64

In [23]:
def class_metrics(df):
    acc = accuracy_score(df.true, df.pred)
    prec = precision_score(df.true, df.pred)
    rec = recall_score(df.true, df.pred)
    f1 = f1_score(df.true, df.pred)
    print(round(acc,2), round(prec,2), round(rec,2), round(f1,2))
class_metrics(df)

0.54 0.56 0.42 0.48

In [24]:
df1 = pd.read_csv('scores.csv')
df1.head()

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263

In [36]:
lst = [roc_auc_score(df1['true'], df1[clf]) for clf in df1.columns[1:]]
print(lst)
print(df1.columns[np.argmax(lst)+1])

[0.719187675070028, 0.7086834733893557, 0.6351540616246498, 0.6919267707082833]
score_logreg

In [42]:
lst = []
for clf in df1.columns[1:]:
    p,r,t = precision_recall_curve(df1['true'],df1[clf])
    lst.append(max(p[r>0.7]))
print(lst)
print(df1.columns[np.argmax(lst)+1])

[0.6302521008403361, 0.6228070175438597, 0.6065573770491803, 0.6517857142857143]
score_tree